<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Layanan Grooming</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    {% include 'sidebar.html' %}

    <div class="section-title" style="padding: 60px 0 60px 0;">
        <div class="row">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                    <h4 style="color: #E75319"><strong>Anjing Besar</strong></h4>
                    <ul class="huruf-tebal">
                        <li><i class="bx bx-check"></i> Dry Grooming [Mandi Kering]</li>
                        <li><i class="bx bx-check"></i> Basic Grooming </li>
                        <li><i class="bx bx-check"></i> Basic Grooming + Anti kutu/Anti Jamur</li>
                        <li><i class="bx bx-check"></i> Grooming Lengkap</li>
                        <li><i class="bx bx-check"></i> Salon</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                <div class="box">
                    <h4 style="color: #E75319"><strong>Anjing Kecil</strong></h4>
                    <ul class="huruf-tebal">
                        <li><i class="bx bx-check"></i> Dry Grooming [Mandi Kering]</li>
                        <li><i class="bx bx-check"></i> Basic Grooming </li>
                        <li><i class="bx bx-check"></i> Basic Grooming + Anti kutu/Anti Jamur</li>
                        <li><i class="bx bx-check"></i> Grooming Lengkap</li>
                        <li><i class="bx bx-check"></i> Salon</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="box">
                    <h4 style="color: #E75319"><strong>Kucing</strong></h4>
                    <ul class="huruf-tebal">
                        <li><i class="bx bx-check"></i> Dry Grooming [Mandi Kering]</li>
                        <li><i class="bx bx-check"></i> Basic Grooming </li>
                        <li><i class="bx bx-check"></i> Basic Grooming + Anti kutu/Anti Jamur</li>
                        <li><i class="bx bx-check"></i> Grooming Lengkap</li>
                        <li><i class="bx bx-check"></i> Salon</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</body>

</html>