<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="/"><img src="{{ url_for('static', filename='img/logo_white.png') }}" alt="logo"></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="../static/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/">Halaman Utama</a></li>
        <li><a class="nav-link scrollto" href="/about">Tentang Kami</a></li>
        <li><a class="nav-link scrollto" href="/grooming">Grooming</a></li>
        <li class="dropdown"><a href="#"><span>Produk</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/food">Makanan</a></li>
            <li><a href="/accessories">Aksesoris</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Klinik</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/ClinicHome">Klinik</a></li>
            <li><a href="/MedicalRecords">Rekam Medis</a></li>
            <li><a href="/HealthCareServices">Layanan Kesehatan</a></li>
          </ul>
        </li>
        <li><a class="getstarted scrollto" href="/login">Masuk</a></li>
        <li><a class="getstarted scrollto" href="/dashboard">Masuk dashboard</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header>